* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0px;
}

header {
  text-align: center;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: xx-large;
}

main {
  padding: 20px 50px 20px 50px;
}

footer {
  text-align: center;
  color: white;
  padding: 30px 0 30px 0;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
  color: gray;
}

main section,
header section {
  display: flex;
  align-items: center;
  justify-content: center;
}

header section {
  font-weight: bold;
  flex-direction: row;
  padding: 10px 10px;
  margin: 10px;
  transition: 1s;
}

header section:first-of-type {
  flex-direction: column;
}

header section:hover {
  border-radius: 25px;
  background-color: rgba(100, 100, 100, 0.2);
}

header section a {
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
}

.link {
  color: black;
  display: inline;
}

.logo {
  margin: 20px;
  width: 100px;
  border-radius: 50px;
  float: left;
}
